@model SC.UI.Web.MVC.Models.SignalR.User
<div class="chatBox">
    <div class="chatHeader">
        <img class="userImage img-circle" src=@Model.UserImage />
        @Html.DisplayFor(model => model.UserName)
    </div>
    <div class="chatMessage">
       
       <!--Data inserted by javascript-->
       <div class="messages"></div>
       
    </div>
    <div class="chatSend">
        <textarea type="text" id="messageText"></textarea>
        <button type="submit" id="sendBtn">Send</button>
    </div>
</div>