@model SC.UI.Web.MVC.Models.SignalR.User
@{
    ViewBag.Title = "Admin";
}

<h2 id="userName">@Model.UserName</h2>

<div class="row">
    <div class="col-lg-1">
        <!--whitespace?-->
    </div>
    <div class="col-lg-6 chatPartial">
        <!--Chat Partial View-->
        @Html.Partial("_ChatBoxPartial", @Model.UserName)
    </div>
    <div class="col-lg-5">
        <div class="onlineUsersBox">
            <div class="usersHeader">
                <p>Online Users</p>
            </div>
            <div class="onlineUsers">
                <div class="users">
                    <!--All the online users-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/Scripts/date.format.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/ChatSR.js"></script>


