body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*SignalR ChatPartial*/
.chatBox {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.chatHeader {
    height: 41px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
}

    .chatHeader > .userImage {
        margin: 3px;
        width: 35px;
        height: 35px;
    }

.chatMessage {
    width: 100%;
    height: 500px;
    border: solid 1px lightgrey;
}

.chatSend {
    width: 100%;
    height: 40px;
}

#messageText {
    width: 75%;
    height: 100%;
    float: left;
    max-width: 75%;
    overflow-y: auto;
    resize: none;
}

#sendBtn {
    width: 25%;
    height: 100%;
    float: right;
}

/*Html inserted by javascript*/
/*#region Messages*/

.chatMessage > .messages {
    padding: 10px;
    height: 100%;
    overflow: auto;
}
.chat-msg,
.chat-text{
    display: block;
}
.chat-msg{
    margin-bottom: 10px;
}
.chat-msg:before,
.chat-msg:after {
    content: " ";
    display: table;
}
.chat-msg:after{
    clear:both;
}
.chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444444;
    font-size: 15px;
    font-weight: normal;
    max-width:50%;
}
    .chat-text:before,
    .chat-text:after {
        position: absolute;
        right: 100%;
        top: 15px;
        border: solid transparent;
        border-right-color: #d2d6de;
        content: ' ';
        height: 0;
        width: 0;
        pointer-events: none;
    }
    .chat-text:after {
        border-width: 5px;
        margin-top: -5px;
    }
    .chat-text:before {
        border-width: 6px;
        margin-top: -6px;
    }
.right .chat-text {
    margin-right: 10px;
    margin-left: 0;
    float: right;
}
.left .chat-text{
    float: left;
    margin-right: 0;
    margin-left: 10px;
}
.right .chat-text:after,
.right .chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}
.chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}

.right .chat-img {
    float: right;
}

.chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.chat-name {
    font-weight: 600;
}

.chat-timestamp {
    color: #999;
}

.chat-info .right > .chat-text {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #ffffff;
}

    .chat-info .right > .chat-text:after,
    .chat-info .right > .chat-text:before {
        border-left-color: #00c0ef;
    }
/*#endregion Messages*/

/*#region Users*/
.onlineUsersBox {
    border: solid 1px lightgrey;
    height: 581px;
}
.usersHeader {
    height: 41px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

    .usersHeader p {
        line-height: 41px;
        font-size: 20px;
    }
#broadcast{
    margin-top: 5px;  
    margin-right: -80px;
    height: 75%;
}
.onlineUsers {
    padding: 10px;
    height: 100%;
    overflow: auto;
}
.users{

}
.box-user{
    max-height: 80px;
    display: flex;
    flex-direction: row;
}
    .box-user:hover {
        background-color: #b4b4b4;
    }

.img-user{
    width: 75px;
    height: 75px;
    margin: 1px;
}
.user-text{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.user-username{
    margin-top: 25px;
}
.user-username b{
    font-size: 20px;
}

.user-date{
    margin-top:-15px;
}

.selected {
  background-color: #efeded;
}
/*#endregion Users*/





/* LOGIN MODAL */
/*#region Login*/

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

    .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
        font-family: roboto;
    }

    .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .loginmodal-container input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .loginmodal-container input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

    .loginmodal-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}
/*#endregion Login*/
