@model SC.UI.Web.MVC.Models.SignalR.LoginModel
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form>
                
                @Html.TextBoxFor(m => m.UserName, new { @class="form-control", @name = "user", @placeholder ="Username"})

                <input type="submit" name="login" class="login loginmodal-submit" value="Login">

            </form>
        </div>
    </div>
}

